In [95]:
import json
import os
import pandas as pd

In [96]:
def save_data_to_json(data, json_path):
    with open(json_path, "w") as fp:
        json.dump(data, fp, indent=4)

In [97]:
# ROOT_DIR = '/home/raghav/Dev/concept-bot'
ROOT_DIR = '/run/user/1000/gvfs/sftp:host=ada,user=raghav.prabhakar/home2/raghav.prabhakar/ayush/concept-bot/'
RAW_DATA_PATH = os.path.join(ROOT_DIR, 'thortils/data/raw/data.xlsx')
OUTPUT_PATH_1 = os.path.join(ROOT_DIR, 'thortils/data/task_0_results/Exp_1/GT_used')
OUTPUT_PATH_2 = os.path.join(ROOT_DIR, 'thortils/data/task_1_results/Exp_1/GT_used')

In [98]:
concept_bag = pd.read_excel(RAW_DATA_PATH, sheet_name='Concepts')
concept_bag.head(10)

           Concept                                            Objects
0  heating(source)  Microwave, StoveBurner,Toaster, Oven, CoffeeMa...
1         carrying  WineBottle, WateringCan, Vase, Bottle, Cup, Mu...
2         cleaning  DishSponge, ScrubBrush, Plunger, PaperTowelRol...
3          washing                     BathTubBasin, SinkBasin,Toilet
4          cutting                  ButterKnife, Knife, Fork, Spatula
5        disposing        GarbageCan, BathTubBasin, SinkBasin, Toilet
6     mixing(tool)     Ladle, Fork, Spoon, Spatula,ButterKnife, Knife
7   mixing(vessel)                 Pan, Bowl, Kettle, Cup, Plate, Pot
8  heating(vessel)                 Pan, Bowl, Kettle, Cup, Plate, Pot
9          storage  Drawer, Cabinet, Dresser, Fridge, LaundryHampe...

In [99]:
concepts = list(map(lambda x: x.lower().strip(), list(concept_bag['Concept'])))

save_data_to_json(concepts, f'{OUTPUT_PATH_1}/concepts.json')
save_data_to_json(concepts, f'{OUTPUT_PATH_2}/concepts.json')

In [100]:
objects = {}
for _, row in concept_bag.iterrows():
    # objects[row['Concept'].lower().strip()] = [row['Objects']]
    objects[row['Concept'].lower().strip()] = list(map(lambda x: x.strip(), row['Objects'].split(',')))

save_data_to_json(objects, f'{OUTPUT_PATH_1}/objects.json')
save_data_to_json(objects, f'{OUTPUT_PATH_2}/objects.json')

In [101]:
oracle_csv = pd.read_excel(RAW_DATA_PATH, sheet_name='Oracle')
oracle_csv.head()

,Activity,Question,Concept,CommonSense Objects
0,reheating coffee,what,heating(source),"CoffeeMachine, Microwave, StoveBurner"
1,reheating coffee in a CoffeeMachine,what,heating(vessel),"Cup, Mug"
2,reheating coffee in a Microwave,what,heating(vessel),"Cup,Mug"
3,reheating coffee on a Stove,what,heating(vessel),"Pot,Kettle"
4,washing dishes,what,cleaning,"DishSponge, SoapBar, SoapBottle"

In [102]:
tasks = {}
for _, row in oracle_csv.iterrows():
    concept = row['Concept'].lower().strip()
    activity = row['Activity'].lower().strip()

    if concept not in tasks:
        tasks[concept] = [activity]
    else:
        tasks[concept].append(activity)

save_data_to_json(tasks, f'{OUTPUT_PATH_1}/tasks.json')
save_data_to_json(tasks, f'{OUTPUT_PATH_2}/tasks.json')

In [ ]:
oracle = {}

for _, row in oracle_csv.iterrows():
    concept = row['Concept'].lower().strip()
    activity = row['Activity'].lower().strip()
    objects = list(map(lambda x: x.strip(), row['CommonSense Objects'].split(',')))

    temp = {activity: objects}

    if concept not in oracle:
        oracle[concept] = temp
    else:
        oracle[concept].update(temp)

save_data_to_json(oracle, f'{OUTPUT_PATH_1}/oracle.json')
save_data_to_json(oracle, f'{OUTPUT_PATH_2}/oracle.json')